* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: url(../img/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

section#phone {
    margin: 300px;
}

div#phone-frame {
    display: grid;
    place-items: center;
    width: 15em;
    max-width: 15em;
    height: 30em;
    background: url(../img/frame-iphone.png) no-repeat;
    background-size: contain;
}

iframe#phone-screen {
    width: 203px;
    height: 359px;
    transform: translate(-1px, 2px);
}

#icons-section {
    position: sticky;
    left: 80vw;
}

nav ul {
    list-style: none;
}

nav img {
    width: 4em;
    border-radius: 50%;
}