@font-face {
    font-family: 'droid';
    src: url(../fonts/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #84e1ad;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 220px;
    color: white;
    background: linear-gradient(180deg, #22d97b, #1a5c38);
}

header>h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px #000000ab;
}

header>p {
    margin-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000ab;
}

header>nav>ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: -50px;
}

header>nav>ul>li {
    margin: 0px 20px 20px 20px;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    width: 70%;
    height: fit-content;
    margin: 0 auto 20px;
    padding: 25px 20px;
    border-radius: 0 0 12px 12px;
    background-color: white;
}

h1 {
    font-size: 2em;
}

h2 {
    padding-left: 10px;
    background: linear-gradient(90deg, #c3ead5, white);
}

h1,
h2 {
    font-family: 'droid';
    color: #003a00;
}

p {
    text-indent: 30px;
    margin: 20px 0px;
}

section a {
    color: #003a00;
    font-weight: bold;
    text-decoration: none;
}

section a::after {
    content: ''
}

span {
    color: #003a00;
    font-weight: bold;
}

img {
    display: block;
    margin: auto
}

img.large {
    width: 100%;
}

section#video {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #1a5c38;
}

section#curiosidades {
    margin-top: 20px;
    border-radius: 12px;
    background-color: #c5ebd6;
}

section#curiosidades h3 {
    padding: 10px;
    color: white;
    border-radius: 12px 12px 0 0;
    background-color: #2fa866;
}

section#curiosidades ul li {
    list-style: none;
}

section#curiosidades ul li a {
    text-decoration: underline;
}

footer {
    padding: 1px;
    color: #fff;
    background-color: #1a5c38;
}

footer p {
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 10px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}