@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: var(--fonte1);
    background-color: darkgray;
}

header {
    text-align: center;
    color: white;
    background-color: black;
}

header>h1 {
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 8vw;
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section p {
    padding-bottom: 1em;
}

section.normal {
    color: black;
    background-color: white;
}

section.imagem {
    background-color: rgb(52, 52, 52);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px #00000079;
}

section.imagem p {
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px black;
    background-color: #00000082;
}

section#img01 {
    background-image: url(../img/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../img/background002.jpg);
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}